.theme {
    font-size: 15pt;
    background-color: seagreen;
    display: grid;
}
p{
    width: max-content;
    margin: 0.5em;
}
.head{
/*  display: inline;    */
  background-color: black;
  color: white;
  border: 0.15em inset whitesmoke;
  margin-bottom: 0.4em;
}
.game{
  display: flex;
  background-color: saddlebrown;
  border: 0.18em solid ghostwhite;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  align-items:center;
}
.butt{
  background-color: grey;
  visibility: hidden;
}
.pointbutt{
/*    visibility: hidden;*/
}
.rstButt{
    visibility: visible;
}
.startButt{
  width: 6.6em;
  height: 2em;
  color: black;
  background-color: wheat;
  border: 0.2em ridge olive;
  border-radius: 35%;
  transform: translate(110px,-90px);
  text-transform: capitalize;
}
#starterButt{
  background-color: indianred;
}
.imgCock{

border-radius: 30%;
border-bottom: 30px solid blanchedalmond;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
  width: 0;
  height:0;
}
.players{
  text-align: center;
  background-color: orchid;
  color:#31413E;/*like black*/
  border: .11em  solid black;
  border-radius: 50% ;
  margin: 1.6em;
  width: 4em;
  height: 4em;
}
#oneer{
  background-color: orange;
}
#twoer{
  background-color: indianred;
}
#dreier{
  background-color: darkcyan;
}
#fourer{
  background-color: greenyellow;
}
.netLine{
  height: 0.5em;
  width: 90%;
  border-top:0.9em dashed black;
  border-left: 0.5em solid black;
  border-bottom: 0.9em dashed black;
  border-right: 0.5em solid black;
  outline: 0.2em solid white; 
}
.divWinner{
  width: 95%;
  height: 60vh;
  background-color: orange;
  border: 0.3em solid red;
  z-index: 100;
  position: fixed;
  top:2em;
}
.btnTry{
  height: 2.6em;
  width: 4.3em;
  border-radius: 25% 50%;
  color: purple;
}
.intval{
    width: 90%;
    height: 85vh;
    position: fixed;
    top: 2em;
    background-color: beige;
    border: 0.67em inset slategray;
    font-size: 10px;
    font-weight: 700;
    color: maroon;
    z-index: 100;
    
}
.intvalHeader{
    text-transform: uppercase;
    text-align:  center;
}